<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<script type="text/javascript" src="jquery/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="js/jquery.i18n.properties-minjs"></script>

<body>
    <div id="content">
        <div>
            <label id="label_username">用户名：</label>
            <input type="text" id="username"></input>
        </div>
        <div>
            <label id="label_password">密码：</label>
            <input type="password" id="password"></input>
        </div>
        <button type="button" id="login">登陆</button>
    </div>
</body>
<script type="text/javascript">
    loadProperties();
    function loadProperties() {
        $.i18n.properties({
            var fl
            name:'hupu-lang',
            path:'i18n/',
            mode:'map',
            language:$.i18n.browserLang(),
            callback:function(){
                $("[data-locale]").each(function(){
                    $(this).html($.i18n.prop($(this).data("locale")));
                });
            }
        });
    }
</script>


</html>